@font-face {
  font-family: nameFont;
  src: url("../font/font0.otf");
}
#fontLoader {
  font-family: nameFont;
  color: rgba(0, 0, 0, 0);
  margin-right: -16px;
  /*display: none;*/
}

#fontLoader {
  width: 0px;
}

#titleSelected {
  padding: 5px 16px;
}

#elementSelector button,
#classSelector button {
  margin-right: 4px;
}

#niseForm {
  float: left;
  display: flex;
  justify-content: center;
  align-items: Center;
}
#pixiHolder {
  float: left;
  background-image: url("../img/alpha.jpg");
  width: 750px;
  height: 1000px;
}

input[type="file"] {
  float: left;
}
#nameInput {
  float: left;
  margin-bottom: 5px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.grayimg {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  filter: grayscale(80%);
}

.hovorimg {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.titlediv > .grayimg {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.titlediv > .hovorimg {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

.select-content {
  justify-content: center;
  border-radius: 2px;
  padding: 16px 16px;
  margin-bottom: 16px;
  position: relative;
}

.setting-content {
  border-radius: 2px;
  padding: 16px 16px;
  margin-bottom: 16px;
  position: relative;
}

.mdl-name-input {
  width: 85%;
}

.mdl-name-input-button {
  width: 20%;
}

.name_input {
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
}

.titleicon img {
  width: 60%;
  height: 60%;
}
.titlediv {
  margin-top: 15px;
  margin-bottom: 15px;
}

#dialog_title {
  width: 75%;
}
#titleSelector {
  width: auto;
  height: 420px;
  overflow: auto;
  overflow-x: hidden;
}

#titleBlank,
#titleFileLabel {
  font-size: 28px;
}

#choiceHolder {
  float: left;
}

#fileLabel {
  float: left;
  width: 150px;
  height: 50px;
  background-color: #ffd;
  display: flex;
  justify-content: center;
  align-items: Center;
  margin: 10px;
  border: 1px solid #784a3d;
  border-radius: 15px;
  cursor: pointer;
}
#inputTextHolder {
  float: left;
  width: 260px;
}
.customdiv {
  display: inline-block;
}
#tempTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: Center;
}

#noticeHolder img {
  width: 120px;
}
