@font-face {
  font-family: nameFont;
  src: url("../font/font0.otf");
}
#fontLoader {
  font-family: nameFont;
  color: rgba(0, 0, 0, 0);
  margin-right: -16px;
  /*display: none;*/
}
.Radio > label {
  display: flex;
  justify-content: center;
  align-items: Center;
  float: left;
  cursor: pointer;
}

img.r_cl,
img.r_el {
  width: 64px;
  height: 64px;
}
img.r_t {
  width: 186px;
  height: 56px;
}

#fontLoader {
  width: 0px;
}

.selector {
  width: 100px;
  float: left;
  margin: 20px;
}

label > img {
  height: 64px;
}

#imgHolder {
  float: left;
}

#titleSelector {
  width: 250px;
  height: 420px;
  overflow: auto;
  overflow-x: hidden;
}

#niseForm {
  float: left;
  display: flex;
  justify-content: center;
  align-items: Center;
}
#pixiHolder {
  float: left;
  background-image: url("../img/alpha.jpg");
  width: 750px;
  height: 1000px;
}

#scaleInput {
  float: left;
}

#scaleInput > input[type="range"] {
  margin-top: 10px;
}

input[type="file"] {
  float: left;
}
#nameInput {
  float: left;
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 173px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#38c2ff, #38c2ff) no-repeat;
  background-size: 0% 100%;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 12px;
  border-radius: 2px;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.22);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -4px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 1px rgba(122, 122, 122, 1);
  cursor: pointer;
}

#choiceHolder {
  float: left;
}

#fileLabel {
  float: left;
  width: 150px;
  height: 50px;
  background-color: #ffd;
  display: flex;
  justify-content: center;
  align-items: Center;
  margin: 10px;
  border: 1px solid #784a3d;
  border-radius: 15px;
  cursor: pointer;
}
#inputTextHolder {
  float: left;
  width: 260px;
}

#convertToImg {
  width: 75px;
  border: 1px solid #784a3d;
  border-radius: 10px;
  margin: 5px;
  float: left;
  cursor: pointer;
  display: none;
}

#tempTitle {
  width: 148px;
  display: flex;
  justify-content: center;
  align-items: Center;
  height: 64px;
}

#noticeHolder img {
  width: 120px;
}
